/* Basic */
html{
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

 .container {
    /* margin: 20px; */
  
}
/* Header */
.nav {
    height: 80px;
    background-color: #333;
    padding: 0 20px;
    color: #fff;
}

.logo {
    height: 80px;
    float: left;

}

.nav .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    float: right;
    margin-top: 30px;
}
.menu{
    clear: both;
}

.menu ul li {
    float: left;
  
}

.menu ul li a {

    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu ul li a:hover:not(.active) {
    background-color: #111;
}

.menu ul li a.active {
    background-color: #4CAF50;
}


@media screen and (max-width: 600px) {

    .menu ul li {
        float: none;
    }
}

/* INFORMATION */
.information{
    padding: 20px 0px 20px 0px;
    display: flex;
    margin-top: 20px;
    background-color: #f7f7f7;
    position: relative;

}
/* .informationtext h1:before {
    content: open-quote;
} */
.information img{
    height: 400px;
}
.informationtext h1::first-letter{
    font-size: 3em;
    font-weight: bold;
    color: #aaa;
    font-family: "Gentium Book Basic", serif;
}
.informationtext{
    text-transform: uppercase;
}
.informationtext h1{
    margin-bottom: 2px;
}
.informationtext span:before{
    content: open-quote;
}
.informationtext span:after{
    content: close-quote;
}
tr{
    line-height: 2;
}
/* SKILLS */
.skillsset{
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.skillsset img{
    width: 200px;
    height: 200px;
}
/* Contact */
.contact{
    padding: 20px 0px 20px 0px;
    margin-top: 20px;
    background-color: #333;
    display: flex;
    justify-content: space-around;
}
.button-center{
    margin: 0 auto;
    display: flex;
}
.contactarea input{
    margin: 0px 10px 20px 0; 
}
/* Footer */
footer p{
    text-align: center;
}
